<div class="c-card">
   <div class="c-content">
      <div (click)="openContent()" class="item item-1">
         <div class="c-title">
            <span
               style="cursor: pointer;"
               [class.clicked]="isClicked" 
               (mousedown)="isClicked = true" 
               (mouseup)="isClicked = false" 
               (click)="openContent()" 
               class="card-title title" 
            >{{title}}</span>
         </div>
         <div class="c-labels">
            <span 
               *ngFor="let label of labels" 
               class="badge text-bg-primary mb-1"
            >{{label.valor}}</span>
         </div>
      </div>
      <div class="item item-2">  
      </div>
      <div class="item item-3">
         <div *ngIf="estate.chave == 'EM_PROGRESSO'" class="c-actions">
            <button (click)="returnReport()" type="button" class="btn btn-primary btn-sm">Finalizar</button>
         </div>
      </div>
   </div>
</div>

<app-dialog [openModal]="openModal"></app-dialog>