#segundo{
   width: 150px;
   height: 150px;
   background: green;
   margin: auto;
   &:hover {
      ~ #efeito {
         background: blue
     }
  }
 }
 #efeito{
   width: 90px;
   height: 90px;
   background: pink;
   float: left; 
   margin-left:300px;
   top:8px;
 }