.c-card{
   position: relative;
   display: flex;
   width: 400px;
   height: 200px;
   padding: 20px;
   border-radius: 3px;
   cursor: pointer;
   background-color: #2B2B2B;

   &:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
   }
}

.clicked {
   color: #255AD6;
 }

.c-title{
   width: 100%;
   height: auto;
   max-height: 40%;
   min-height: 20%;
   margin-bottom: 3%;
}

.c-content{
   width: 80%;
   height: 100%;
}

.c-actions{
   width: 20%;
   height: 50%;
}

button{
   position:absolute;
   bottom:16px;
   right: 20px;
}

.c-loader{
   width: 100%;
   height: 100%;
}

.c-labels{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   height: auto;
   max-height: 74%;
}



