.horizontal-scroll-wrapper {
   width: 100px;
   height: 300px;
   overflow-y: auto;
   overflow-x: hidden;
   transform:rotate(-90deg) translateY(-100px);
   transform: rotate(-90deg);
   transform-origin: right top;
 }

.cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}