/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

.primary-text{
    color: rgba(217, 217, 217, 1) ;
}

.card-title{
    font-weight: 600;
    color: #F5F5F5;
}