<div class="w-full d-flex justify-content-center">
    <p-card [header]="title" [subheader]="subTitle" [style]="{width: '600px'}" styleClass="p-card-shadow">
        <ng-content></ng-content>
        <ng-template pTemplate="footer">
            <div  class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="button" class="btn btn-primary">Enviar</button>
            </div>
        </ng-template>
    </p-card>    
</div>
